*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    overflow: hidden;
    display: flex;
}
.right-nav{
    position:relative;
    padding: 20px 0;
    height:100vh;
    left:0;
    border-right: 1px solid #d6d6d6;

}
.right-nav li{
    position: relative;
    min-width: 250px;
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;

}
.right-nav li:hover, .nav-selected{
    background-color: #5470c6;
    color: white;
}
.chart-box{
    position: relative;
    flex:1;
    max-width: calc(100% - 250px);
    /* left:150px; */
    height: 100vh;
    transition: .2s all;
}
#Scatter{
    position: relative;
    flex:1;
    width: 90vw;
    height:100vh;
}
#Line{
    position: absolute;
    top:20px;
    left: 40px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px;
    transition: all .2s;
    padding: 0;
    
}
#Boxplot{
    position: relative;
    flex:1;
    width: 100%;
    height: 100vh;
}
#Dynamicbar{
    position: relative;
    flex:1;
    width: 100%;
    height: 100vh;
}
#Bar{
    position: relative;
    flex:1;
    width: 90vw;
    height: 100vh;
}
.sub-show{
    width: 60vw;
    height:50vh;
    overflow: hidden;
}
.sub-hide{
    width: 0;
    height:0;
}
.sub-hide *{
    display: none;
}